.paiFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #00adb5;
  height: 7rem;
  justify-content: space-between;
  margin-top: 5rem;
}

.desFooter {
  font-size: 1rem;
  transition: ease-in-out 0.3s;
}

.desFooter:hover {
  color: #eeeeee;
  cursor: pointer;
  transform: scale(1.1);
}

.otaFooter {
  font-size: 1rem;
  transition: ease-in-out 0.3s;
}

.otaFooter:hover {
  color: #eeeeee;
  cursor: pointer;
  transform: scale(1.1);
}

.nomesFooter {
  margin-left: 5rem;
}

.iconsFooter {
  margin-right: 5rem;
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
}

@media (max-width: 540px) {
  .iconsFooter {
    display: none;
  }
}